<br>
<br>
<h3>投稿一覧ページ</h3>
<%= link_to "新規投稿へ", new_tweet_path %>
<div class="overworks-container">
  <% @tweets.each do |t| %>
    <div class="overwork">
    <div class="image">
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    </div>
    　料理名:
      <%= t.name %>
      P:
      <%= t.protein %>
      F:
      <%= t.fat %>
      C:
      <%= t.carbohydrate %>
      材料:
      <%= t.ingredient %>
　　  感想:
      <%= t.about %>
    </div>
  <% end %>
</div>